<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thiman.android.reservationmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NavigationBar.Promotions"
            android:label="@string/title_activity_promotions"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thiman.android.reservationmanager.Home" />
        </activity>
        <activity
            android:name=".NavigationBar.ReportsPie"
            android:label="@string/title_activity_reports"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thiman.android.reservationmanager.Home" />
        </activity>
        <activity
            android:name=".NavigationBar.Currency"
            android:label="@string/title_activity_currency"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thiman.android.reservationmanager.Home" />
        </activity>
        <activity
            android:name=".NavigationBar.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thiman.android.reservationmanager.Home" />
        </activity>
        <activity
            android:name=".NavigationBar.Language"
            android:label="@string/title_activity_language"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thiman.android.reservationmanager.Home" />
        </activity>
        <activity
            android:name=".NavigationBar.Help"
            android:label="@string/title_activity_help"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thiman.android.reservationmanager.Home" />
        </activity>
        <activity
            android:name=".NavigationBar.AboutUs"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thiman.android.reservationmanager.Home" />
        </activity>
        <activity
            android:name=".NavigationBar.Bookings"

            android:parentActivityName=".Home" />
        <activity
            android:name=".NavigationBar.RoomDetails"
            android:label="Room Details"
            android:parentActivityName=".Home" />
        <activity
            android:name=".NavigationBar.Reports"
            android:label="Share"
            android:parentActivityName=".Home" />
        <activity
            android:name=".NavigationBar.ReportBar"
            android:label="Reports"
            android:parentActivityName=".NavigationBar.Reports" />
        <activity
            android:name=".JSON.JSONActivity"
            android:label="Reports"
            android:parentActivityName=".Home" />
        <activity
            android:name=".NavigationBar.AvailableRooms"
            android:label="Available Rooms"
            android:parentActivityName=".Home" />
        <activity android:name=".NavigationBar.ReportBarBooking" />
        <activity android:name=".NavigationBar.ReportPieBooking"></activity>
    </application>

</manifest>